@charset "UTF-8";

*{
   margin: 0px;
    padding: 0px;

}

html , body {
    height: 100vh;
    width: 100vw;
    background-image: url("imagens/fundo-madeira.jpg");
}

main {
    position: relative;
    height: 100vh;
}
#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
height: 454px;
width: 225px;
    background: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#tela {
    position: relative;
    top: 58px;
    left: 16px;
    height: 341px;
    width: 193px;
   
    
    
    

}
#redes-sociais {
    text-align: right;
}

#redes-sociais img {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.404)  ;
}

#redes-sociais img:hover {
    border:2px solid rgba(252, 252, 252, 0.986);
   transform: translate(-3px, -3px);
   box-shadow: 5px 5px 10px black;


}
